<h2>Hello, welcome to TODO App! </h2>
<div class="container" id="container">
	<div class="sign-up-container" *ngIf="!isSignedIn">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>Use your email for registration</span>
			<input type="text" #email1/>
  			<input type="text" #password1/>
  			<button (click)="onSignup(email1.value,password1.value)">Sign up</button>
		</form>
	</div>
	<div class="sign-in-container" *ngIf="!isSignedIn">
		<form action="#">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" #email/>
  			<input type="text" #password/>
			<a href="#">Forgot your password?</a>
			<button (click)="onSignin(email.value,password.value)">Sign in</button>
		</form>
	</div>
		
</div>

<app-home *ngIf="isSignedIn"(isLogout)="handleLogout()"></app-home>
<footer>
	<p>Created by Thi PHAN - 2021 </p>
</footer>


<!--
<div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type="text" #email1/>
  <input type="text" #password1/>
  <button (click)="onSignup(email1.value,password1.value)">Sign up</button>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" #email/>
  <input type="text" #password/>
  <button (click)="onSignin(email.value,password.value)">Sign in<input type="button" value=""></button>
</div>
<app-home *ngIf="isSignedIn"(isLogout)="handleLogout()"></app-home>
-->